<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todone</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ddd77854d8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
  </head>

  <body>

  <main class="container">
    
    <nav>
      <h1>Todos</h1>
      <div class="user-info">
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link"><%= user.userName %></summary>
          <ul role="listbox">
            <li onclick="toggleLightDark()"><a href="#"><span class="theme"></span> theme</a></li>
            <li><a><hr></a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </details>
      </div>
    </nav>
    <form action="/todos/createTodo" method='POST'>
      <input type="text" placeholder="Enter Todo Item" name='todoItem'>
      <input type="submit">
    </form>
    <section>
      <div class="pogress">
        <div class="nums">
          <%= total - left %> / <%= total %>
        </div>
        <div class="bar">
          <progress value="<%= total - left %>" max="<%= total %>"></progress>
        </div>
      </div>
    </section>
    <table>
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Todo</th>
          <th scope="col">Edit/Save</th>
          <th scope="col">Delete</th>
          <th scope="col">Complete</th>
        </tr>
      </thead>
      <tbody>
        <!-- @todo clean up this wet code -->
        <% todos.filter(el => el.completed == false).forEach( (el, idx) => { %>
          <tr class='todoItem <%= el.completed === true ? 'todo-completed' : '' %>' data-id='<%=el._id%>'>
            <!-- <th scope="row"><%= idx + 1%></th> -->
            <td>
              <div class='<%= el.completed === true ? 'completed' : 'content' %>'><%= el.todo %></div>
            </td>
            <td class="buttons">
              <div class="button edit">
                <span class="fa-solid fa-pen-to-square" role="img" aria-label="Edit"></span>
              </div>
              <div class="button save">
                <span class="fa-solid fa-save" role="img" aria-label="Save"></span>
              </div>
            </td>
            <td class="buttons">
              <div class="button delete">
                <span class="fa-solid fa-trash-can" role="img" aria-label="Delete"></span>
              </div>
            </td>
            <td class="buttons">
              <div class="button check">
                <span class="fa-sharp fa-solid fa-check" role="img" aria-label="Check"></span>
              </div>
            </td>
          </tr>
        <% }) %>
        <% todos.filter(el => el.completed == true).forEach( (el, idx) => { %>
          <tr class='todoItem <%= el.completed === true ? 'todo-completed' : '' %>' data-id='<%=el._id%>'>
            <!-- <th scope="row"><%= idx + 1%></th> -->
            <td>
              <div class='<%= el.completed === true ? 'completed' : 'content' %>'><%= el.todo %></div>
            </td>
            <td class="buttons">
              <div class="button edit">
                <span class="fa-solid fa-pen-to-square" role="img" aria-label="Edit"></span>
              </div>
              <div class="button save">
                <span class="fa-solid fa-save" role="img" aria-label="Save"></span>
              </div>
            </td>
            <td class="buttons">
              <div class="button delete">
                <span class="fa-solid fa-trash-can" role="img" aria-label="Delete"></span>
              </div>
            </td>
            <td class="buttons">
              <div class="button check">
                <span class="fa-sharp fa-solid fa-check" role="img" aria-label="Check"></span>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>

      
    <script src="js/main.js"></script>
  </body>
</html>
